RewriteEngine on
RewriteBase /

# dont allow the internal dirs
RewriteRule .*\.git/.* - /index.php/ [L]
RewriteRule .*\templates/.* - /index.php/ [L]
RewriteRule .*\models/.* - /index.php/ [L]

# only rewrite if the requested file doesn't exist
RewriteCond %{REQUEST_FILENAME} !-s

# pass the rest of the request into index.php to handle
RewriteRule ^(.*)$ /index.php/$1 [L]