<div class="container">
<!-- Docs nav
================================================== -->
<div class="row">
  <div class="span3 bs-docs-sidebar">
    <ul class="nav nav-list bs-docs-sidenav">
      <li><a href="#overview"><i class="icon-chevron-right"></i>Overview</a></li>
      <li><a href="#quick-start"><i class="icon-chevron-right"></i>Example</a></li>
      <li><a href="#internals"><i class="icon-chevron-right"></i>Internals</a></li>
    </ul>
  </div>
  <div class="span9">

    <!-- Overview
    ================================================== -->
    <section id="overview">
      <div class="page-header">
        <h1>Overview</h1>
      </div>

        <p>
          The ipService library provides a single method: .get.  It accepts a callback as its' only
          argument, which is passed an object containing the user's IP address.
<pre class="prettyprint">
{
  ip: "00.000.000.000"
}
</pre>
        </p>
    </section>

    <!-- Quick Start
    ================================================== -->
    <section id="quick-start">
      <div class="page-header">
        <h1>Example</h1>
      </div>
      <p class="lead">Two, simple steps</p>

      <h3>1. Include the library via <code>script</code> tag.</h3>
<pre class="prettyprint">
&lt;script src="www.jsIpService.com/ipservice.js"&gt;&lt;/script&gt;
</pre>


      <h3>2. call .get.</h3>
<pre class="prettyprint">
function callback(user) {
  alert(user.ip);
}
ipService.get(callback);
</pre>
    </section>

    <section id="internals">
        <div class="page-header">
          <h1>Internals</h1>
        </div>
        <p>
          Internally, the library caches your callback before injecting a script tag into the page,
          then on response, executes your callback and performs cleanup (removing the injected script tag)
          and removing the stored callback.
        </p>

        <p>
          While the browser is loading the jsonP response from the ipService, the callbacks are exposed
          via ipService.callbacks.  ipService.callbacks also has a default property that will be called
          if no callback is passed to .get, which simple calls console.log if available.  You could overwrite
          this if you would rather just call .get() instead of passing a named function.
        </p>

        <p>
          If the warning: 'Overwriting existing ipService variable' shows up in console, either you are including
          the script tag multiple times, or you are already using the ipService variable in your own code in global scope.  If this is the case, feel free to download and rehost a copy of the library with whatever changes you need.
        </p>


    </section>

  </div><!-- span9 -->
</div><!-- row -->
</div>