<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>JS IP Service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">JS IP Service</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="/docs">Docs</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Javascript IP Service</h1>
        <h2 class="user-ip">Your IP: <span></span></h2>
        <p>Need to get the user's IP address from javascript?  Look no futher.  Our minimal library and fast service will quickly grant you asyncronous information about your user's client.</p>
        <p><a href="/docs" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Minimal</h2>
          <p>Weighing only XXk of code, and CDN hosted, our library is lightweight and unobtrusive.</p>
        </div>
        <div class="span4">
          <h2>Fast</h2>
          <p class="user-time">It took you <span>0.0</span> seconds to get your IP address. <a href="#">refresh</a>. </p>
       </div>
        <div class="span4">
          <h2>Free!</h2>
          <p>Free for users under XXXX requests/month</p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; jsIPservice.com</p>
      </footer>

    </div> <!-- /container -->

    <!--js-->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/ipservice.js"></script>
    <script>
      $(function(){
        getIP();
      });
      function getIP() {
        var startTime = new Date();

        var $ipEl = $('.user-ip').find('span').hide();
        var $timeEl = $('.user-time').hide();

        ipService.get(function(user){
          var endTime = new Date();

          $ipEl.html(user.ip);
          $ipEl.fadeIn('slow');

          $timeEl.html((endTime-startTime)*1000);
          $timeEl.fadeIn('slow');
        });
      }
    </script>
  </body>
</html>
